<h1>Login</h1>

<%= form_tag '/login' do %>

  <div class="email"> Email: <%= text_field_tag :email %> </div>
  <div class="password"> Password: <%= password_field_tag :password %> </div>
  <%= submit_tag "Submit" %>

<% end %>